<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.0-ci1054" targetFramework="xamarinios10" />
  <package id="Humanizer" version="1.36.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.0.11" targetFramework="xamarinios10" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="xamarinios10" />
</packages>